apiVersion: k8s.cni.cncf.io/v1
kind: NetworkAttachmentDefinition
metadata:
  name: internal-netdevice
  namespace: ${namespace}
  annotations:
    k8s.v1.cni.cncf.io/resourceName: intel.com/internal_netdevice
spec:
  config: |
    {
      "type": "host-device",
      "cniVersion": "0.3.1",
      "pciBusID": "0000:00:06.0",
      "name": "internal-network",
      "ipam": {
        "type": "host-local",
        "ranges": [
%{ for cidr in internal_cidrs ~}
          [{ "subnet": "${cidr}" }]${cidr != element(internal_cidrs, length(internal_cidrs) - 1) ? "," : ""}
%{ endfor ~}
        ]
      }
    }